.reset-default {
  all: unset;
}

.underline-pos {
  top: calc(100% - 2px);
}

.line-divider::before {
  content: "";
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 1px;
  height: 16px;
  background-color: #e0e0e6;
  position: absolute;
}


.swiper-image-slider .swiper-pagination-bullet {
    width: 4px;
    height: 4px;
    transition: width 0.3s ease-in-out;
}

.swiper-image-slider .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 16px;
  height: 6px;
  border-radius: 9999999999999px;
  transform: translateY(1px);
  background-color: #fff;
}



.navbar-boxShadow {
  box-shadow: 0 1px 0 rgb(0 0 0 / 14%), 0 2px 0 rgb(0 0 0 / 5%);
}


.grid-swiper-container .swiper-wrapper .swiper-slide:not(:last-child) {
  border-right: 1px solid #e0e0e6;
}

.brand-item:not(:last-child) {
  border-right: 1px solid #e0e0e6;
}


.footer-fade::before {
  background: linear-gradient(180deg,hsla(0,0%,100%,0) 50%,#fff);
  content: "";
  height: 100%;
  position: absolute;
  width: 100%;
}


.navbar_head-title::before {
  content: "";
  display: block;
  width: 2px;
  height: 14px;
  margin-left: 8px;
  background-color: #ef4056;
}


.navbar-menu-box-shadow {
  box-shadow: 0 1px 1px rgb(0 0 0 / 14%), 0 4px 8px rgb(0 0 0 / 30%);
}

.navbar-box-shadow {
  box-shadow: 0 1px 0 rgb(0 0 0 / 14%), 0 2px 0 rgb(0 0 0 / 5%);
}

.transition-height {
  transition: height .2s ease-in-out;
}

.lock-body-scroll {
  overflow: hidden !important;
}